# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# MongoDB
MONGODB_URI=

# Redis
REDIS_HOST=
REDIS_PORT=

# RabbitMQ
RABBITMQ_URL=

# Server
NODE_ENV=
PORT=

# Encryption
ENCRYPTION_KEY=
